<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style2.css" class="css">
    <link rel="stylesheet" href="/css/resp.css" class="css">
</head>

<body>
    <div class="navbar h_nav">
        <div class="nav v_class">
            <div class="logo">

                <img src="img/logox.png" alt="">
            </div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#testi">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <!-- home div -->

    <div class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">
                    Pahadan
                </div>
                <div class="text-2">
                    A river side restraurent
                </div>
                <div class="text-3">
                    <a href="#menu" class="btn">Our Menu</a>

                </div>
            </div>
        </div>
    </div>

    <!-- about div -->

    <div class="about" id="about">
        <div class="max-width">
            <div class="row">
                <div class="title">
                    <h2 data-title="- Our story -">about us</h2>
                </div>
            </div>
            <div class="row">
                <div class="about-text">
                    <h2>Welcome to Pahadan Restraurent</h2>
                    <p>Lorem ilorem45
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non delectus blanditiis sed itaque
                        accusantium odit nulla unde facere Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, magnam.
                    </p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae doloribus, necessitatibus,
                        ipsa magni incidunt, error possimus nobis accusantium dicta blanditiis hic asperiores eligendi
                        harum consectetur.</p>

                    <a href="#menu" class="btn">Check Our Menu</a>
                </div>
                <div class="about-img">

                    <div class="img-box">

                        <img src="/img/groceryhome.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- menu div here -->

    <div class="menu" id="menu">
        <div class="max-width">
            <div class="row">
                <div class="title">
                    <h2 data-title="- choices -">Our menu</h2>
                </div>
            </div>
            <div class="content">
                <div class="menu-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <h2>noodles</h2>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <h2>noodles</h2>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <h2>noodles</h2>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <h2>noodles</h2>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <h2>noodles</h2>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <h2>noodles</h2>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <!-- testimonials div here -->


    <div class="testi" id="testi">
        <div class="max-width">
            <div class="row">
                <div class="title">
                    <h2 data-title="- reviews -">TestiMonials</h2>
                </div>
            </div>
            <div class="content">

                <div class="testi-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae ad accusamus iusto aliquam
                            tempora distinctio tempore quae qui iure minima?</p>

                        <h4>- Rohit kapkoti -</h4>
                    </div>
                </div>
                <div class="testi-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae ad accusamus iusto aliquam
                            tempora distinctio tempore quae qui iure minima?</p>
                        <h4>- Ashish Sharma -</h4>
                    </div>
                </div>
                <div class="testi-box">
                    <div class="img-box">
                        <img src="/img/pexels-ella-olsson-3026808.jpg" alt="">
                    </div>
                    <div class="img-txt">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae ad accusamus iusto aliquam
                            tempora distinctio tempore quae qui iure minima?</p>
                        <h4>- Roshan Negi -</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact div here -->


    <div class="contact" id="contact">
        <div class="max-width">
            <div class="row">
                <div class="title">
                    <h2 data-title="- reach us -">Way to us</h2>
                </div>
            </div>
            <div class="map-wrap">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3475.104217241141!2d79.3248097!3d29.425750299999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390a0b850a3e6b5f%3A0x16ac15570c54e183!2z4KSq4KS54KS-4KSh4KS84KSoIHJlc3RhdXJhbnQ!5e0!3m2!1sen!2sin!4v1630948502617!5m2!1sen!2sin"
                    width="100%" height="450" style="border:1px solid green;" allowfullscreen=""
                    loading="lazy"></iframe>
            </div>
        </div>

    </div>

    <!-- footer section -->

    <footer>
        <div class="footer">
            <div class="max-width">
                <div class="row">
                    <div class="footer-item">
                        <h2>Our Address</h2>
                        <p>Nainital Road, dabka pul, Ranikota <br>Kotabagh -263159</p>
                    </div>
                    <div class="footer-item">
                        <h2>Opening hours</h2>
                        <p>Monday to sunday <br> 9:00 AM - 9:00 PM
                        </p>
                    </div>
                    <div class="footer-item">
                        <h2>Contact Us</h2>
                        <p>9627596205</p>
                        <p>Rohitkapkoti@gmail.com</p>
                        <div class="social-links">
                            <a href=""> <i> </i> </a>
                            <a href=""> <i> </i> </a>
                            <a href=""> <i> </i> </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="copyright">
                        &copy; 2021 - Designed by Rohit Kapkoti
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/index.js"></script>

</body>


</html>